<h3><%= @merchant.name %>'s discounts</h3>
<table class="table table-sm" id='discount'>
  <thread>
    <tr>
      <td>Percentage</td>
      <td>Quantity Required</td>
      <td>Edit</td>
    </tr>
  </thread>
  <tbody>
    <td><%= @discount.percentage %>%</td>
    <td><%= @discount.quantity_required %> Items required for discount</td>
    <td><%= link_to "Edit Discount", "/merchant/#{@merchant.id}/discounts/#{@discount.id}/edit", method: :get %>
  </tbody>
</table>